application/cache/*
application/config/*
application/controllers/index.html
application/controllers/Welcome.php
application/core/*
application/helpers/*
application/hooks/*
application/language/*
application/libraries/*
application/logs/*
application/models/index.html
application/third_party/*
application/.htaccess
application/index.html
CodeIgniter-3.0.2/*
static/*
system/*
user_guide/*
composer.json
contributing.md
hello-world.php
index.php
license.txt
php.ini
readme.rst